# Environment
.env

# Binaries (root-level build output only)
/api
/fetcher
/transformer
/test

# Go build cache
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test cache
*.test
*.out

# Dependency directories
vendor/

todo.md